---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  'Fira Sans Condensed', sans-serif !default;
$base-font-size:    18px !default;
$base-font-weight:  400 !default;
$small-font-size:   $base-font-size * 0.875 !default;
$base-line-height:  1.5 !default;

$spacing-unit:      30px !default;

$text-color:        #111 !default;
$text-color-light:  lighten(#111, 35%) !default;

$background-color:  #fdfdfd !default;

$brand-color:       #00abff !default;
$brand-color-light: lighten(#00abff, 45%) !default;

$grey-color:        #ff7300 !default;
$grey-color-light:  lighten($grey-color, 40%) !default;
$grey-color-dark:   darken($grey-color, 40%) !default;

// Width of the content area
$content-width:     800px;

$on-palm:           600px;
$on-laptop:         800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
